.Header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.Header .menu-item {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.Header .logo {
  display: flex;
  justify-content: center;
  flex: 1;
}

.Header .menu-item span {
  font-weight: bold;
  cursor: pointer;
}

.Header .menu-item.last {
  justify-content: flex-end;
}
.fonts {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}
