.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  font-size: 17px;
}

.world {
  width: 65%;
  height: 496.51px;
  margin-top: 219px;
  margin-bottom: 60px;
  opacity: 0px;
  justify-content: center;
  align-items: center;
}
.texts {
  width: 562px;
  height: 70px;
  margin-top: 80px;
  font-family: Inter;
  font-weight: 500;
  font-size: 23px;
  text-align: center;
}
.texts-2 {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.texts-2 .centre span {
  color: #f36f2b;
}
.logos {
  background: #000000;
  color: #fff;
  display: flex;
  width: 100%;
}

.logo {
  height: 20%;
  margin: 10px 10px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: 50px;
}
.column-container {
  display: flex;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.column {
  flex: 1;
  width: 275px;
  padding: 10px;
  margin: 15px 15px;
}
.Container .texts span {
  color: #f36f2b;
}
.block {
  display: flex;
  background-color: #000000;
  color: #fff;
  flex-direction: column;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.2);
  padding-left: clamp(20px, 3.81vw, 50px);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.4;
}
.block1 {
  display: flex;
  margin: 10px;
  flex-direction: row;
}
.Prize-container {
  width: 50%;
  background-color: #f36f2b;
}

.Aavatar {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  /* adjust parent height(max-height) or width*/
  max-height: 200px;
}

.Square2 {
  overflow: hidden;
  position: relative;
}
.block {
  flex-direction: row;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}
.footer__subtext {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.4;
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 40px;
  gap: 60px;
}
.subtext {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.4;
  margin-left: 40px;
}
.centre {
  margin-top: 140px;
  color: #f36f2b;
  padding: 50px 50px;
}
