* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

main{
  width: 100%;
  height: calc(100vh - 102px - 3rem);
  padding-top: 1rem;
  color: white;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}